html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    border: 2px solid silver;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 5px 5px black;
}

.guessField {
    border-radius: 5px;
}

.lastResult {
    color: white;
    padding: 3px;
}

@media screen and (max-width:425px) {
    h1 {
        text-align: center;
    }
}